In [1]:
Data Science Tools and Ecosystem

SyntaxError: invalid syntax (2383999780.py, line 1)

Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

objectives

from IPython.display import Markdown

items = [
    "List popular languages for Data Science",
    "Explore common libraries used in Data Science",
    "Demonstrate data manipulation techniques",
    "Introduce machine learning algorithms",
    "Discuss best practices in data visualization"
]

In [26]:
from IPython.display import Markdown

items = [
    "List popular languages for Data Science",
    "Explore common libraries used in Data Science",
    "Demonstrate data manipulation techniques",
    "Introduce machine learning algorithms",
    "Discuss best practices in data visualization"
]
intro_text = "### Objectives:\n\n"
for item in items:
    intro_text += f"- {item}\n"

Markdown(intro_text)

### Objectives:

- List popular languages for Data Science
- Explore common libraries used in Data Science
- Demonstrate data manipulation techniques
- Introduce machine learning algorithms
- Discuss best practices in data visualization

Some of the popular languages that Data Scientists use are:

In [6]:
from IPython.display import Markdown

librerias_data_science = ["NumPy", "Pandas", "Matplotlib", "Scikit-learn", "TensorFlow", "Keras"]
lista_librerias = ""
for i, libreria in enumerate(librerias_data_science):
    lista_librerias += f"{i+1}. {libreria}\n"

Markdown(f"**Librerías de Data Science:**\n{lista_librerias}")

**Librerías de Data Science:**
1. NumPy
2. Pandas
3. Matplotlib
4. Scikit-learn
5. TensorFlow
6. Keras

In [7]:
from IPython.display import Markdown

languages_data_science = ["Python", "R", "SQL", "Julia", "Scala"]

ordered_list = ""
for i, language in enumerate(languages_data_science):
    ordered_list += f"{i+1}. {language}\n"

Markdown(f"**Commonly Used Languages for Data Science:**\n{ordered_list}")

**Commonly Used Languages for Data Science:**
1. Python
2. R
3. SQL
4. Julia
5. Scala

languages_data_science = ["Python", "R", "SQL", "Julia", "Scala"]

ordered_list = ""
for i, language in enumerate(languages_data_science):
    ordered_list += f"{i+1}. {language}\n"

In [8]:
table_html = """
<table>
  <tr>
    <th>Data Science Tools</th>
  </tr>
  <tr>

SyntaxError: EOF while scanning triple-quoted string literal (2625694635.py, line 6)

In [9]:
from IPython.display import HTML

table_html = """
<table>
  <tr>
    <th>Data Science Tools</th>
  </tr>
  <tr>
    <td>Jupyter Notebook</td>
  </tr>
  <tr>
    <td>RStudio</td>
  </tr>
  <tr>
    <td>Visual Studio Code</td>
  </tr>
</table>
"""

HTML(table_html)

In [10]:
from IPython.display import table

ImportError: cannot import name 'table' from 'IPython.display' (/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/IPython/display.py)

In [11]:
import pandas as pd

data = {
    "Data Science Tools"

df = pd.DataFrame(data)

df

   Data Science Tools
0    Jupyter Notebook
1             RStudio
2  Visual Studio Code

In [12]:
import pandas as pd

data = {
    "Data Science Tools"

df = pd.DataFrame(data)

df

SyntaxError: invalid syntax (913885509.py, line 6)

In [13]:
import pandas as pd

data = {
    "Data Science Tools"
}

df = pd.DataFrame(data)

df

                    0
0  Data Science Tools

Below are a few examples of evaluating arithmetic expressions in Python.

In [15]:
result = 2+2
print(result)

4

In [17]:
result = 2*9
print (result)

18

In [18]:
(3*4)+5

17

this a simple arithmetic expression to mutiply then add integers

In [19]:
converts 200 minutes into hours

SyntaxError: invalid syntax (3304297961.py, line 1)

In [22]:
minutes = 200
hours = minutes / 60

print("200 minutes is equal to", hours, "hours")

200 minutes is equal to 3.3333333333333335 hours

In [23]:
200/60

3.3333333333333335

This will convert 200 minutes to hours by diving by 60

In [29]:
from IPython.display import Markdown

author_text = "## Author\n\n"
author_text+ = "Alberto Remirez"

Markdown(author_text)

SyntaxError: invalid syntax (1148493068.py, line 4)

In [30]:
from IPython.display import Markdown

author_text = "## Author\n\n"
author_text += "Alberto Remirez"

Markdown(author_text)

## Author

Alberto Remirez

In [ ]:
git init